* {
	box-sizing: border-box;
}

.admin-bar {
	.header {
		top: 32px;
	}
}

#lpckConMessageOverlay {
	display: none !important;
}

body {	
	width: 100%;
	font-size: 16px;
	line-height: 140%;
	font-weight: 400;
	display: block;
	color: #000;
	font-family: $base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 118px;
	overflow-x: hidden;
	line-height: 1.1;

	&.fontSize-1 {
		@include tablet {
			font-size: 18px;

		}
	}

	&.fontSize-2 {
		@include tablet {
			font-size: 20px;
		}
	}

	@include laptop2 {
		padding-top: 124px;
	}
}

a {
	outline: none; 
	border: 0; 
	text-decoration: none !important;
	color: inherit;
}

a.underline {
	font-weight: bold;
	text-decoration: underline !important;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100% !important;
}

footer {
	.preloading {
		display: none;
	}
}

.mt-0 {
	margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0px;
}

.link-underline {
	text-decoration: underline !important;
}

.text-center {
	text-align: center;
}

.aligncenter {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}

// LAYOUT
///////////////

.page-outer {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.page-facebook {
	position: fixed;
	display: inline-block;
	z-index: 102;
	width: 40px;
	top: auto;
	left: auto;
	right: -2px;
	bottom: 100px;

	@include laptop {
		top: 140px;
		bottom: auto;
	}

	img {
		background: #fff;
		display: inline-block;
		width: 100%;
	}
}

.cookies-not-set .page-phone {
	display: none;
}

#cn-notice-text {
	display: block;
	padding-bottom: 4px;
}

.page-phone {
	position: fixed;
	bottom: 90px;
	right: 20px;
	width: 10px;
	z-index: 1000;
	transform: scale(0.8);

	@include tablet {
		bottom: 100px;
		transform: scale(1);
	}

	&:hover {
		.page-phone-text {
			visibility: visible;
			opacity: 1;
			transition: 0.3s ease;
		}
	}
}

.page-phone-text {
	top: 8px;
	width: 270px;
	font-weight: bold;
	padding: 18px 50px 14px 30px;
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
	border-radius: 100px;
	left: auto;
	right: -4px;
	font-size: 20px;
	background: #fff;
	position: absolute;
	visibility: visible;
	opacity: 1;
	transition: 0.3s ease;

	strong {
		display: block;
		font-weight: bold;
		font-size: 12px;
		line-height: 10px;
	}
}

.page-phone-icon {
	z-index: 100;
	position: absolute;
	top: 12px;
	right: 0px;
	width: 36px;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 100%;
	border: 4px solid #bcbcbc;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 32px;

		path {
			fill: $red !important;
		}
	}
}

.hidden {
	display: none;
}

.post-edit-link {
	display: inline-block;
	border: 2px solid blue;
	background: blue;
	color: #fff;
	margin-top: 4px;
	padding: 4px 10px;
}

.button {
	display: inline-block;
	background: $red;
	color: #fff;
	padding: 10px 22px;
	text-transform: uppercase;
	font-size: em(20);
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.3s ease background;
	position: relative;
	overflow: hidden;

	span {
		font-family: $base-title;
	}

	.button-text {
		font-size: em(20);
		position: relative;
		z-index: 9;
		font-weight: 700;
	}

	.button-bg {
		@include laptop {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0%;
			opacity: 0;
			height: 0%;
			background: #b90b16;
			transition: 0.2s $CubicEaseInOut;
		}
	}

	&:hover {
		.button-bg {
			opacity: 1;
			width: 100%;
			height: 100%;
			transition: 0.3s $CubicEaseIn;
		}
	}
}

.button-small {
	padding: 14px 20px 10px;
	font-size: em(16);
}

.button-grey {
	background: #f1f1f1;
	color: #000;

	.button-bg {
		background: #e2e2e2;
	}
}

.button-orange {
	background: #ffa800;

	.button-bg {
		background: #d98f00;
	}
}

.button-blue {
	background: #0397dc;

	.button-bg {
		background: #0480ba;
	}
}

.captchaHolder-error {
	color: red;
	margin: 0;
	margin-top: 10px;
	text-align: center;
}

.lb-data .lb-number {
	display: none !important;
}

.page-decorHunting {
	margin-top: 60px;
	width: 100%;
	margin-bottom: -46px;
}

input {
	padding: 8px 10px;
}

// COOKIE
///////////////

#cookie-law-info-bar {
	left: 0;

	span, a {
		font-family: $base;
	}
}