@font-face {
  font-family: 'iconfont';  /* project id 243063 */
  src: url('//at.alicdn.com/t/font_243063_0ams4paogcmi.eot');
  src: url('//at.alicdn.com/t/font_243063_0ams4paogcmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_243063_0ams4paogcmi.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_243063_0ams4paogcmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_243063_0ams4paogcmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_243063_0ams4paogcmi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: $red;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-title;
  font-weight: normal;
}

h1 {
  font-size: em(32);
}

h2 {
  font-size: em(28);
}

h3 {
  font-size: em(26);
}

h4 {
  font-size: em(24);
}

h5 {
  font-size: em(22);
}

h6 {
  font-size: em(20);
}

p, li, span {
  line-height: 140%;
}

// typography
.page-title {
  font-size: em(46);
  margin-top: em(4);
  margin-bottom: 0;
}


.title {
  font-size: em(28);
  font-weight: bold;
  margin-bottom: 0px;

  @include tablet {
    font-size: em(30);
  }

  @include laptop {
    font-size: em(34);
  }
}

.text-lead {
  margin-top: em(10);
  font-size: em(18);

  @include media-breakpoint-up(md) {
    font-size: em(20);
  }

}

.title-borderOuter {
	display: block;
	text-align: center;
}

.title-border {
	display: inline-block;
	padding-left: 60px;
	padding-right: 60px;
	width: auto;
	position: relative;
	font-weight: normal;
	border-bottom: 1px solid #c1c1c1;
  font-size: em(36);
  line-height: em(20);
  padding-bottom: em(6);

  @include media-breakpoint-up(md) {
    padding-left: 120px;
    padding-right: 120px;
  }

	&:before {
		content: "";
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: -2px;
		width: calc(100% - 160px);
		height: 3px;
    background: $red;
    
    @include media-breakpoint-up(md) {
      width: calc(100% - 200px);
    }
	}
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}