// ----------------------------
//	TOOLS & UTILS
// ----------------------------

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;    
}

.clearfix {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

// ----------------------------
//	Break Points
// ----------------------------

$screen-s: 767px;
$screen-md: 1023px;
$screen-md2: 1150px;

@mixin tablet {
    @media screen and (min-width: $screen-s) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: $screen-md) {
        @content;
    }
}

@mixin laptop2 {
    @media screen and (min-width: $screen-md2) {
        @content;
    }
}

// ----------------------------
//	TYPO
// ----------------------------

$base: "Helvetica Neue",Helvetica,Tahoma,Arial,'Microsoft Yahei','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;
$base-title: 'Yanone Kaffeesatz', Arial, 'Helvetiva Neue', sans-serif;

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// ----------------------------
//	COLORS
// ----------------------------

$color-yellow: #d1bd1f;
$cyan: #1edac2;
$green: #0be100;

$red: #d10000;

// ----------------------------
//	RADIUS
// ----------------------------

$radius-base: 8px;

// ----------------------------
//	EASING
// ----------------------------

$CubicEaseIn  	: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$CubicEaseOut  	: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$CubicEaseInOut : cubic-bezier(0.645, 0.045, 0.355, 1.000);
$QuadEaseIn   	: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$QuadEaseOut  	: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$QuadEaseInOut  : cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ExpoEaseOut  	: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ExpoEaseInOut  : cubic-bezier(1.000, 0.000, 0.000, 1.000);

// ----------------------------
//	TRANSITION
// ----------------------------

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin transform($transform) {
	transform: $transform;
	-webkit-transform: $transform;
	-o-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
}