/*
	Theme Name: Guide Sensmart EU
	Theme URI: ---
	Description: Guide Sensmart EU
	Version: 1.0.0
	Author: URL studio
	Author URI: http://urlstudio.pl
	Tags: ---
	License: ---
	License URI: ---
*/

// ------------------------------------------------
// Site: Guide Sensmart EU
// ------------------------------------------------

//
// IMPORTING STYLES
//

@font-face {
    font-family: 'iconfont';  /* project id 243063 */
    src: url('//at.alicdn.com/t/font_243063_0ams4paogcmi.eot');
    src: url('//at.alicdn.com/t/font_243063_0ams4paogcmi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_243063_0ams4paogcmi.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_243063_0ams4paogcmi.woff') format('woff'),
    url('//at.alicdn.com/t/font_243063_0ams4paogcmi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_243063_0ams4paogcmi.svg#iconfont') format('svg');
}


@import "normalize";
// @import "bootstrap/bootstrap-grid.scss";
@import "bootstrap-441/bootstrap-grid.scss";

@import "vars";
@import "animate";
@import "base";
@import "typo";

@import "components/form";
@import "components/search";
@import "components/breadcrumbs";
@import "components/header";
@import "components/footer";
@import "components/slider";
@import "components/content";
@import "components/branch";

@import "pages/home";
@import "pages/products";
@import "pages/contact";
@import "pages/guarantee";
@import "pages/shops";

@import "pages/blog";