	
.d-blog-title {
    text-align: center;
    font-size: 2.5em;
    font-family: inherit;
    padding: .5em 0;
    font-weight: 700;
    position: relative;
    margin-bottom: 1em
}
.d-blog-title::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    border-bottom: solid 3px #d10000;
    bottom: -5px
}
.d-post-title {
    margin: .5em 0 .2em 0;
    font-size: .9em;
    transition: .3s
}
.d-post-title:hover {
    color: #d10000
}
.thumb {
    max-height: 250px;
    overflow: hidden
}
.excerpt {
    line-height: 1.4;
    font-size: 14px;
    margin-top: .75em
}
.meta {
    font-size: 14px;
    color: #d10000;
    opacity: .7
}
.d-more {
    text-align: right;
    margin: .5em 0
}
.d-more svg {
    margin-left: .25em;
    transition: .3s
}
.d-more a {
    font-size: 16px;
    transition: .3s
}
.d-more a:hover {
    color: #d10000
}
.d-more a:hover svg {
    fill: #d10000
}
.d-single_thumb img {
    display: block;
    margin: auto
}
.d-back {
    display: flex;
    align-items: center
}
.d-back svg {
    margin-right: .5em;
    transition: .3s
}
.d-back h3 {
    transition: .3s
}
.d-back:hover h3 {
    color: #d10000
}
.d-back:hover svg {
    fill: #d10000
}
.d-blog-title-single {
    text-align: center;
    font-size: 2em;
    font-family: inherit;
    padding: .5em 0;
    font-weight: 700;
    position: relative;
    margin-bottom: 1em
}
.d-blog-title-single::after {
    position: absolute;
    content: "";
    left: 0;
    ;
    width: 10%;
    border-bottom: solid 3px #d10000;
    bottom: -5px
}