.input-sku {
    margin-bottom: 20px;
}

.skus-messages {
    p {
        font-family: $base-title;
        font-size: em(24);
    }

    &__success {
        color: green;
    }

    &__error, &__api_error {
        color: red;
    }
}