.section-about {
    text-align: center;
}

.section-about__icon {
    margin-top: 20px;

    .iconfont {
        font-size: em(60);
    }
}

.section-about__title {
    margin: 20px 0px 10px;
}

.section-company {
    margin-top: 40px;
    background: #ebebeb;
    padding-top: 0px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
    
    @include media-breakpoint-up(xl) {
        padding-top: 40px;
        margin-top: 240px;
    }
    
    img {
        width: 100%;
        margin-top: -100px;

        @include media-breakpoint-up(md) {
            margin-top: -220px;
        }
        
        
        @include media-breakpoint-up(lg) {
            margin-top: -300px;
        }
    }
}

.section-company__content {
    @include media-breakpoint-up(xl) {
        top: 0px;
        position: absolute;
    }
}