.page-product {
    .product-price {
        font-size: em(22);
        font-weight: bold;
    }
}

.page-tabNav {
    border-bottom: 1px solid #d6d6d6;
    display: block;
    @extend .clearfix;
    
    li {
        float: left;
        margin-right: 10px;

        @include media-breakpoint-up(md) {
            margin-right: 30px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover, &.active {
            a {
                color: $red;
            }
        }
        
        a {
            display: inline-block;
            padding-top: 20px;
            padding-bottom: 14px;
            @extend h3;
            font-family: $base-title;

            @include media-breakpoint-up(md) {
                padding-top: 20px;
                padding-bottom: 24px;
            }
        }
    }
}

.page-tabNavSection {
    display: block;

    // &.active {
    //     display: block;
    // }
}

.product-preview {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    
    .product-price {
        text-align: center;
        font-size: em(20);
        margin-top: em(4);
        font-weight: bold;
    }
    
    &:hover {
        .product-preview-image {
            &:before, .iconfont {
                visibility: visible;
            }
        }        
    } 
}

.product-preview-title {
    margin-top: em(12);
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
}

.product-preview-image {
    display: block;
    position: relative;
    min-height: 100px;

    img {
        margin: 0 auto;
    }

    .iconfont {
        visibility: hidden;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: em(70);
    }

    &:before {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }
}

.page-product-buttons {
    .button {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.benefit-table {
    @include media-breakpoint-up(md) {
        width: 100%;
        display: table;
        min-height: 295px;
    }
}

.benefit-tableCell {
    @include media-breakpoint-up(md) {
        display: table-cell;
        vertical-align: middle; 
    }
}

.product-popup {
    padding: 20px;
    background: #fff;
    width: 300px;
    position: fixed;
    top: 150px;
    right: 80px;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;

    &.active {

        @include media-breakpoint-up(md) {
            visibility: visible;
            opacity: 1;
            z-index: 99;
            transition: 0.3s ease;
        }
    }

    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: em(18);
    }

    .button-small {
        text-align: center;
        display: block;
        width: 100%;
        margin-top: 10px;
        padding: 6px 20px 4px;
        font-size: em(14);
    }
}

.page-buyLocallyStrapline {
    margin-top: -10px;
}