.page-shops__mapOuter {
    
}

.page-shops__map {
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    float: right;
    margin-top: 20px;
}

.page-shops__mapMore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    padding: 20px 20px 0px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 0;
    display: inline-block;
    width: 300px;
    min-height: 300px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;

    @include tablet {
        left: 20%;
    }

    &.visible {
        visibility: visible;
        opacity: 1;
        transition: 0.3s ease;
        z-index: 9;
    }

    .page-shops__preview {
        p {
            font-size: em(14);
            
            &.link-red {
                a {
                    color: $red;
                }
            }
        }
    }

    .page-shops__preview-title, .page-shops__preview-address {
        text-transform: uppercase;
    }

    .page-shops__preview-title {
        margin-bottom: 4px;
        padding-right: 30px;
    }

    .page-shops__preview-desc {
        font-size: 14px;
        margin-top: 0px;
    }

}

.page-shops__mapMoreClose {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: normal;
    transform: rotate(45deg);
    padding-left: 1px;
    width: 36px;
    height: 36px;
    background: $red;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
} 

.page-shops__preview-title, .page-shops__preview-desc {
    span {
        display: block;
    }
}

.page-shops__preview-desc {
    font-size: 16px;
}