.page-selectBranch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 0.96);

    h3 {
        text-transform: uppercase;
    }

    &__logo {
        max-width: 220px;
        display: block;
        margin: 0 auto;
    }
}

.page-selectBranch__inner {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    width: 100%;
    max-width: 1024px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.page-selectBranch__item {
    height: 120px;
    display: block;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-up(md) {
        height: 300px;
    }

    &__bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(1);
        left: 0;
        scale: 1;
        background-size: cover;
        background-position: center center;
        transition: 0.3s ease;
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 6px 10px;
        font-weight: bold;
        text-transform: uppercase;
        background: #fff;
        z-index: 9999;
    }

    .lowiectwo {
        background-image: url('./assets/img/hunting-large.jpg');
    }

    .kamery {
        background-image: url('./assets/img/kamera-termowizyjna-obraz.jpg');
    }

    &:hover {
        
        .page-selectBranch__item__bg {
            transform: scale(1.1);
            transition: 0.3s ease;
        }
    }
}