.page-content {
	
}

.page-wysiwig {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
		
		+ img {
			margin-top: 0;
		}

		+ p {
			margin-top: 6px;
		}
	}

	img + p {
		margin-top: 0;
	}

	p {
		margin: 20px 0px;
	}

	p, ul li, ol li {
		// line-height: 1.3;
	}

	.button {
		color: #fff;
		text-decoration: none !important;
	}

	.alignright {
		display: block;
		width: 100%;
		float: right;
		margin: 0px 0px 20px 20px;

		@media (min-width: 500px) {
			width: auto;
			display: inline-block;
		}
	}

	.alignleft {
		float: left;
		width: 100%;
		display: block;
		margin: 0px 20px 20px 0px;

		@media (min-width: 600px) {
			width: auto;
			display: inline-block;
		}

		@include tablet {
		}
	}

	p + img {
		margin-top: 0;
	}

	h6 {
		margin-bottom: 0;
	}

	p img {
		margin: 0px;
	}

	img {
		margin: 20px 0px;
	}

	a {
		text-decoration: underline !important;
		color: $red;
	}

	.table-wrapper {
		border: #bcbcbc 2px solid;
		margin: 20px 0px;
		max-width: 100%;
		overflow-x: scroll;
		position: relative;
		width: auto;
		display: inline-block;

		// @include media-breakpoint-down(lg) {
		// 	padding-top: 40px;
		// }

		// &:before {
		// 	@include media-breakpoint-down(lg) {
		// 		position: absolute;
		// 		top: 10px;
		// 		left: 0px;
		// 		padding-left: 20px;
		// 		padding-right: 20px;
		// 		content: "Przesuń w prawo, aby wyświetlić całość";
		// 		color: red;
		// 		width: 220px;
		// 		margin: 0 auto;
		// 		left: 0;
		// 		right: 0;
		// 		text-align: center;
		// 	}
		// }
		
		table {
			margin: 0 !important;
			background: white;

		}
	}

	table {
		border: none;

		&.stickyHeader {
			tbody tr {
				&:first-child {
					background: #bcbcbc;
					
					td {
						vertical-align: middle;
					}
				}
			}
		}
		
		thead {
			tr {
				background: #bcbcbc !important;

				td {
					text-transform: uppercase;
					color: white;
				}
			}
		}

		tr, 
		th {
			td {
				border-right: 1px solid #bcbcbc;
				vertical-align: top;
				font-weight: normal;

				&:last-child {
					border-right: none;
				}
				
				&:first-child {
					text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
				}
			}
		}

		tr {
			// border: #bcbcbc 2px solid;

			&:nth-child(2n-1) {
				background:#efeff2;
			}

			td {
				padding: 10px;

				ul {
					padding-left: 20px !important;
					margin: 0 !important;

					li {
						list-style-type: none !important;
					}
				}
			}
		}
	}

	ul, ol {
		padding-left: 20px;
		margin: 10px 0px 20px;
		
		> li {
			padding-left: 4px;
			margin-top: 5px;
			position: relative;
			
			&:before {
				position: absolute;
				border-radius: 100%;
				width: 10px;
				height: 10px;
				border: 2px solid #d10000;
				content: "";
				left: -18px;
				top: 6px;
				bottom: -5px;

			}
		}
	}

	> ul {
		li {
			list-style-type: none;
		}
	}

	> ol {
		li {
			&:before {
				opacity: 0;

			}
		}
	}
}