.footer {
	margin-top: 40px;
	background: #121212;
	padding: 40px 0px 80px;
	color: #fff;

	@include laptop {
		padding: 40px 0px;
	}

	p {
		span {
			display: block;
		}
	}
}

.footer-logo {
	max-width: 240px;
	margin-top: 0;

	@include media-breakpoint-down(md) {
		max-width: 180px;
	}
}

.footer-copyright, .footer-meta li, .footer-meta a {
	font-size: 14px;
}

.footer-copyright {
	margin-top: 40px;
	margin-bottom: 0;

	@include media-breakpoint-up(md) {
		text-align: center;
	}
}

.footer-menu {
	margin: 0;
	padding: 0;
	@extend .clearfix;

	ul {
		margin: 0;
	}

	@include media-breakpoint-up(md) {
		text-align: left;
	}

	li {
		float: left;
		display: block;
		width: 100%;

		a {
			display: block;
			margin-bottom: 4px;

			&:hover {
				color: $red;
			}
		}
	}
}

.footer-menu-meta {
	position: relative;
	display: block;
	margin-top: 24px;
	padding-top: 24px;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 1px;
		width: 200px;
		background: #fff;
	}
}

.footer-contact {
	font-weight: bold;

	a {
		display: block;
		margin-bottom: 6px;
	}
}

.footer-rightTitle {
	display: block;
	margin-top: 0;
	vertical-align: top;

	a {
		display: block;
	}
	
	img {
		display: inline-block;
		margin-top: 10px;
		max-width: 120px;
	}
}