.page-form {
	background: #e9e9e9;
	margin-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	
	@include tablet {
		display: block;
	}

	&-title {
		font-family: $base;
	}

	.error, .success {
		margin-top: 20px;
		text-align: center;
		padding: 16px 10px;
		background: #fff;
	}

	label {
		margin-bottom: 10px;
		display: block;
	}

	input[type="search"], input[type="text"], input[type="tel"], input[type="email"], textarea {
		width: 100%;
		display: inline-block;
		box-shadow: none;
		border: 1px solid #d3d3d3;
		padding: 12px 8px;
		border-radius: 0px;
	}

	.row-checkboxOuter {
		position: relative;
		padding-left: 24px;

		label {
			font-size: 14px;
			margin-bottom: 0;
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.error {
		background: red;
		color: #fff;
	}

	.success {
		background: #0be100;
		color: #fff;
	}

	form {
		
	}

	.row-preloader { 
		text-align: center;
		margin-top: 20px;

		img {
			max-width: 46px;
		}
	}

	.button {
		box-shadow: none;
		outline: none;
		display: inline-block;
		display: block;
		margin: 0 auto;
		width: 100%;
		margin-top: 20px;

		@media (min-width: 768px) {
			width: 304px;
		}
	}
}

.form-row {
	margin-bottom: 20px;
}


.g-recaptcha > div {
	display: block;
	margin: 0 auto;
}