.header {
	position: fixed;
	z-index: 999;
	width: 100%;
	max-width: 1920px;
	background: #fff;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 6px solid $red;
	padding-top: 20px;
	padding-bottom: 10px;

	.container {
		position: relative;
	}

	@include media-breakpoint-up(md) {
		padding-bottom: 10px;
	}

	&.active {
		.header-nav {
			visibility: visible;
			opacity: 1;
		}
	}
}

.header-logo {
	top: 0;
	left: 0;
	margin-top: 2px;
	float: left;
	position: relative;
	display: inline-block;

	img {
		width: 140px;
		
		@include media-breakpoint-up(md) {
			width: 170px;
		}
	}
}

.header-search {
	position: absolute;
	right: 78px;
	top: 6px;

	&:hover {
		transform: scale(1.1);
	}

	@include laptop2 {
		right: 20px;
	}

	img {
		width: 40px;
		height: auto;
	}
}

.header-nav {
	display: inline-block;
	position: absolute;
	opacity: 0;
	left: 0;
	top: 100%;
	z-index: 99;
	width: 100%;
	visibility: hidden;

	&:before {
		position: absolute;
		content: "";
		left: -100%;
		width: 300%;
		height: 100%;
		background: rgba(255, 255, 255, 0.98);

	}

	@include tablet {
		top: 78px;
	}

	@include laptop2 {
		visibility: visible;
		opacity: 1;
		width: auto;
		float: left;
		top: 4px;
		position: relative;
		margin-left: 60px;

		&:before {
			display: none;
		}
	}

	nav {
		display: inline-block;
		width: 100%;

		> ul {
			padding-top: 20px;

			@include media-breakpoint-up(md) {
				padding-top: 0px;
			}
		}
	}


	ul {
		margin: 0;
		padding: 0;
		margin-top: 0px;
		min-height: 100vh;

		@include laptop2 {
			padding-top: 0;
			min-height: auto;
			text-align: center;
		}

		li {
			display: block;
			position: relative;

			&:hover {
				.sub-menu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			}

			.sub-menu {
				top: 100%;
				left: -14px;
				min-height: auto;
				overflow: hidden;

				@include laptop2 {
					background: #fff;
					padding-left: 0;
					transform: translateY(-20px);
					visibility: hidden;
					opacity: 0;
					position: absolute;
					min-width: 180px;
					border: 1px solid rgba(0,0,0,.15);
					border-radius: 4px;
					box-shadow: 0 6px 12px rgba(0,0,0,.175);
				}

				li {
					text-align: left;
					min-width: 100%;
					margin-right: 0;
					padding: 0;
					width: 100%;

					&.current-menu-item {
						a {
							color: $red;

							&:before {
								display: none;
							}
						}
					}

					&:last-child {
						margin-bottom: 6px;

						@include laptop2 {
							margin-bottom: 0;
						}
					}

					a {
						padding: 10px 20px;
						line-height: 20px;
						letter-spacing: 1px;
						display: inline-block;
						width: 100%;
						font-size: em(18);
						height: auto;

						&:hover {
							background: $red;
							color: #fff;
						}
					}
				}

			}

			@include laptop2 {
				margin-bottom: 0;
				margin-right: 10px;
				display: inline-block;
				// float: left;
			}

			&:last-child {
				margin-right: 0px;
			}

			&.current-menu-item, &.current_page_item, &.current-menu-parent, &.current_page_parent, &:hover {
				> a {
					color: $red;
				}
			}

			&.current-menu-item, &.current_page_item, &:hover {
				> a {
					color: $red;
				}
			}
		}
	}

	a {
		text-transform: uppercase;
		display: block;
		font-size: em(24);
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 14px;
		font-family: $base-title;
		font-weight: 500;
		letter-spacing: 1px;
		cursor: pointer;

		@include laptop2 {
			display: inline-block;
			padding: 18px 0px 14px;

			&:before {
				height: 2px;
			}
		}


	}
}

.header-navTrigger {
	display: block;
	right: 16px;
	position: absolute;
	cursor: pointer;
	top: 16px;
	margin-top: 0;
	z-index: 999;

	@include laptop2 {
		display: none;
	}

	a {
		width: 40px;
		height: 30px;
		display: block;
	}

	&.active, &.active:hover {
		span {
			&.line-1 {
				top: 8px;
				transform: rotate(45deg);
			}

			&.line-2 {
				top: 8px;
				// transform: translateX(30px);
				opacity: 0;
			}

			&.line-3 {
				top: 8px;
				transform: rotate(-45deg);
				// top: 12px;
			}
		}
	}

	span {
		position: absolute;

		&.line-1, &.line-2, &.line-3 {
			right: 0;
			top: 0;
			opacity: 1;
			display: block;
			width: 100%;
			height: 2px;
			background: #000000;
			transform: translate3d(0px, 0, 0);
		} 

		&.line-copy {
			padding-right: 36px;
			top: -4px;
			left: -64px;
		}
		
		&.line-2 {
			top: 10px;
		}

		&.line-3 {
			top: 20px;
		}
	}
}

.header-fontSize {
	display: none;
	
	@include tablet {
		position: absolute;
		display: inline-block;
		top: 6px;
		right: 140px;
	}

	@include laptop2 {
		right: 70px;
	}

	h3 {
		margin: 0;
		font-size: em(20);
	}

	ul {
		margin: 0;
		padding: 0;
		
		li {
			float: left;
			margin-right: 10px;
			
			&:last-child {
				margin-right: 0;
			}
			
			a {
				opacity: 0.5;
				font-size: em(20);
			}

			&:hover, &.active {
				a {
					opacity: 1;
				}
			}
		}
	}
}

.header-switcher {
	background: #f2f2f2;
	margin-top: -20px;
	margin-bottom: 16px;

	@include media-breakpoint-up(md) {
		margin-top: -20px;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			float: left;
			margin-right: 14px;

			&.active {
				a {
					text-decoration: underline;
					font-weight: bold;
				}
			}

			&:last-child {
				margin-right: 0;
			}

			a {
				font-size: em(14);
				padding: 6px 0px;
				display: block;
			}
		}
	}
}