form.search {
    display: block;
    width: 320px;
    margin: 0 auto;
    text-align: center;

    input {
        
    }

    button {
        @extend .button;
        @extend .button-small;
        display: inline-block;
    }
}