.slider {
	opacity: 0;
	max-width: 1920px;
	margin: 0 auto;

	@include tablet {
		
	}

	&.slick-initialized {
		opacity: 1;
	}
}

.slick-dots {
	bottom: -26px !important;

	li {
		height: 4px;
		width: 96px !important;

		&.slick-active, &:hover {
			button {
				&:before {
					background: $red;
					opacity: 1;
				}
			}
		}

		button {
			width: 100% !important;

			&:before {
				top: 10px !important;
				height: 4px !important;
				opacity: 1 !important;
				content: "" !important;
				background: #c1c1c1;
				width: 100% !important;
				font-size: 12px !important;
			}
		}
	}
}

.slider-slide {
	position: relative;
	margin: 0 auto;
	display: block;

	img {
		float: right;
		width: 100%;
	}
}

.slider-content {
	width: 100%;
	background: #fff;
	z-index: 10;
	height: 100%;
	padding-bottom: 30px;

	@include tablet {
		padding-bottom: 0;
		background: transparent;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0%, -60%);
	}

	&.animate {
		.slider-title {
			text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
		}

		.slider-title, .slider-text {
			opacity: 1;
			transform: translateX(0px);
			transition: 0.6s $CubicEaseInOut;
		}

		.slider-text {
			transition-delay: 0.2s;
		}

		.slider-cta {
			opacity: 1;
			transition: opacity 0.6s $CubicEaseInOut 0.6s;
		}
	}
}

.slider-title, .slider-text {
	opacity: 0;
	transform: translateX(-60px);
	transition: 0.3s $CubicEaseInOut;
}

.slider-text {
	@include laptop {
		max-width: 500px;
	}
}

.slider-title {
	color: #000;
	line-height: 1.2;
	margin-bottom: 10px;
	font-size: 40px;
	max-width: 600px;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
	margin-top: 10px;

	@include tablet {
		font-size: 50;
	}

	@include laptop {
		font-size: 70px;
	}
}

.slider-cta {
	opacity: 0;
}

.product-gallery-item img {
	margin: 0 auto;
}

.product-gallery .slick-dots li {
	width: 30px !important;
}